@page "/"
@using System.Text.Json;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="(() => GetSensorData())">Refresh Data</button>

<p>@temp</p>
<p>@humidity</p>

@code{
	double temp;
	double humidity;

	private async Task GetSensorData()
	{
		var result = await Task.Run(() => "./sensor".Bash());
		Console.WriteLine(result);
		var tuple = JsonSerializer.Deserialize<Tuple<double, double>>(result);
		Console.WriteLine(tuple?.Item1);
		temp = tuple?.Item1 ?? 0;
		humidity = tuple?.Item2 ?? 0;
	}
}